        <%- include("header")   -%>

        <div class="box" id="heading">
            <h1>Today <%= listTittle %></h1>
        </div>
        <div class="box">
            <% for(var i =0;i< newItems.length;i++){ %>
             
            <div class="item">
                <input type="checkbox">
                <p><%= newItems[i] %></p>
            </div>

            <% } %>

            <form action="/" method="post">
                <input type="text" name="inptItem" placeholder="new item">
                <button type="submit" name="list" value=" <%= listTittle %> " > + </button>
            </form>
            
        </div>

        <%- include("footer")   -%>
       
 